<html>
<head> 
<tittle> {{ tittle }} </tittle>
</head>
<body>
<h1> {{tittle}} </h1>
<p>  Addition :{{ sum  }} </p>
<p>  Substraction :{{ sub }} </p>
<p>  Multiplication :{{ mul  }} </p>
</body> 
</html>